* {
  margin: 0px;
  padding: 0px;
  font-family: "Exo 2", sans-serif;
}
body {
  overflow-x: hidden;
}
.secondaryText {
  font-family: "Raleway", sans-serif;
  color: #d18410;
}
.subHeading {
  color: white;
  font-family: "Raleway", sans-serif;
}
.primaryText {
  color: black;
  font-family: "Judson", serif;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: black;
  height: 15vh;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-left: 1rem;
  width: 40%;
  overflow-y: hidden;
}
.logo a {
  text-decoration: none;
}
.logo img {
  object-fit: contain;
  height: 3rem;
  width: 10rem;
  cursor: pointer;
}
.logo h4 {
  font-style: italic;
  font-size: 0.6rem;
}
#navbar {
  height: 10vh;
  width: 50%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.navlinks {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#navbar li {
  list-style: none;
}
#navbar li a {
  text-decoration: none;
}
#navbar a:hover {
  color: gray;
}
#navbar .current {
  color: #d18410;
}
#evn {
  color: #d18410;
  text-align: center;
  /* padding-right: 6rem; */
  background-color: black;
  padding-bottom: 0.5rem;
  font-size: 3.5rem;
}
#poster {
  margin: 1rem 6rem 1rem 6rem;
  border-radius: 2rem;
  height: 28rem;
  background: rgb(223, 219, 219);
}
.banner {
  display: flex;
  border-bottom: 0.25rem solid black;
  margin: 0rem 2rem;
}
.banner img {
  height: 22rem;
  width: 23rem;
  padding-top: 1rem;
  padding-left: 4.5rem;
}
.postercontent {
  line-height: 3.8rem;
  padding-bottom: 3rem;
}
.postercontent h1 {
  padding-left: 5rem;
  padding-top: 1.5rem;
  font-size: 6rem;
  font-weight: 700;
  color: black;
  padding-bottom: 1rem;
}
.postercontent h3 {
  padding-left: 7rem;
  font-size: 2.2rem;
  font-weight: 300;
  color: rgb(15, 15, 15);
}
.postercontent h4 {
  padding-left: 12.5rem;
  font-size: 2.2rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: rgb(15, 15, 15);
}
.eventdate {
  display: flex;
  margin-top: 3.5rem;
}
.eventdate h1 {
  padding-left: 8rem;
  font-weight: 400;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
}
.date h3 {
  padding: 0rem;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  padding-right: 1rem;
  border-right: 0.2rem solid black;
  font-size: 2rem;
  line-height: 2rem;
}
.date {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-left: 1rem;
}
.time {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
  margin-left: 0.5rem;
  line-height: 2.3rem;
}
.time h3 {
  padding: 0rem;
  font-size: 1.5rem;
  padding-left: 0.9rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.time h2 {
  font-size: 2.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #d18410;
}
.organised {
  margin-left: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  font-family: "Raleway", sans-serif;
}
.organised h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 0.3rem;
  font-family: "Raleway", sans-serif;
}
.organised h2 {
  margin-left: 28rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
.Event {
  display: flex;
  /* height: 80vh; */
}
.session {
  width: 52%;
  height: 27rem;
  padding-left: 6rem;
  padding-top: 1rem;
  margin-top: 1rem;
  border-right: 0.2rem solid black;
  margin-bottom: 4rem;
}
.reg {
  font-size: 1.5rem;
}
.reg2 {
  font-size: 1rem;
}
.roy {
  border-radius: 0.5rem;
}
.slideshow {
  display: flex;
}
.speaker {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
}
.btn {
  display: flex;
}

.speaker h2 {
  padding-top: 0.5rem;
  font-weight: 600;
  font-size: 1.5rem;
}
.speaker h1 {
  padding-top: 1rem;
  max-width: 1rem;
  font-size: 3.2rem;
}
.speakerPhoto img {
  padding-left: 15.8rem;
  padding-bottom: 2rem;
  height: 12.5rem;
}
.slides {
  display: none;
}
.slides p {
  font-size: 1.1rem;
  padding-right: 2.9rem;
  font-weight: 500;
}
.slides p span {
  font-weight: 600;
}
.prev,
.next {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.2rem;
}
.numbertext {
  font-size: 2rem;
}
.timer {
  margin-left: 3.1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clock {
  /* background-color: rgb(223, 219, 219); */
  height: 10rem;
  width: 25.1rem;
  border-radius: 2rem;
}
#timers {
  padding: 1.7rem;
  text-align: center;
  font-size: 2rem;
  background-color: #d18410;
  color: white;
  font-family: "Judson", sans-serif;
  border-radius: 0.6rem;
}
.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registration h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 0.2rem;
  text-align: center;
}
.registration button {
  background-color: #007bffc0;

  width: 18rem;
  border-radius: 0.4rem;
  margin-top: 0.7rem;
  height: 3rem;
  color: white;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  font-size: 1rem;
  border: none;
}
footer {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 37, 37);
}
.margin-left {
  margin-left: 6rem;
}
.margin-right {
  margin-right: 6rem;
}
.right_footer p {
  display: flex;
  justify-content: space-around;
}
.right_footer span {
  margin-right: 30px;
}
.right_footer a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 30px;
}
.right_footer a:hover {
  color: gray;
}
.burger {
  display: none;
  cursor: pointer;
}
.line1 {
  background-color: rgb(240, 188, 188);
  padding: 2px;
  margin: 5px;
  width: 40px;
}
.line2 {
  background-color: whitesmoke;
  padding: 2px;
  margin: 5px;
  width: 40px;
}
.line3 {
  width: 40px;
  background-color: whitesmoke;
  padding: 2px;
  margin: 5px;
}
.speaker_content {
  text-align: justify;
}
/* RESPPONSIVE */
@media screen and (max-width: 720px) {
  body {
    overflow-x: hidden;
  }
  #navbar {
    width: 60%;
  }
  .navlinks {
    position: absolute;
    top: 15vh;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 65%;
    background-color: rgb(58, 58, 58);
    transform: translateX(100%);
    transition: all 0.3s ease-out;
    z-index: 11;
    display: none;
  }
  .navlinks li:hover {
    color: gray;
  }
  .logo img {
    padding-left: 0rem;
    object-fit: contain;
    height: 3rem;
    width: 8rem;
  }
  .logo h4 {
    font-size: 0.6rem;
    padding-left: 0.7rem;
    margin-top: -0.3rem;
  }
  .burger {
    display: block;
    overflow: hidden;
    margin-top: 2rem;
    color: tomato;
    margin-right: 2rem;
  }
  #evn {
    padding-bottom: 0.5rem;
    font-size: 2rem;
  }
  #poster {
    margin: 1rem 1rem 1rem 2rem;
    border-radius: 1rem;
    height: 14rem;
  }
  .banner {
    border-bottom: none;
    margin: 0rem 2rem;
  }
  .banner img {
    height: 3rem;
    width: 3rem;
    padding-top: 0rem;
    padding-left: 0rem;
    margin-top: 5.5rem;
    /* margin-left: 15rem; */
  }
  .postercontent {
    line-height: 1rem;
    padding-bottom: 1rem;
  }
  .postercontent h1 {
    padding-left: 2.8rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    /* padding-bottom: 1rem; */
  }
  .reg {
    font-size: 0.7rem;
  }
  .reg2 {
    font-size: 0.7rem;
  }
  .postercontent h3 {
    padding-left: 3.5rem;
    font-size: 0.6rem;
    line-height: 1rem;
  }
  .postercontent h4 {
    padding-left: 4rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .eventdate {
    display: flex;
    margin-top: 0rem;
  }
  .eventdate h1 {
    margin-left: -3.6rem;
    font-weight: 400;
    font-size: 3rem;
  }
  .date h3 {
    font-weight: 800;
    font-size: 0.6rem;
    line-height: 0.7rem;
    margin-left: -0.5rem;
  }
  .date {
    padding-left: 0rem;
    margin-left: -2.8rem;
  }
  .time {
    margin-top: 1.2rem;
    line-height: 0.4rem;
  }
  .time h3 {
    font-size: 0.7rem;
    padding-left: 0.1rem;
    margin-top: 0.1rem;
    line-height: 1.5rem;
  }
  .time h2 {
    font-size: 0.7rem;
    font-weight: 500;
  }
  .organised {
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .organised h1 {
    font-size: 0.6rem;
    font-weight: 500;
    margin-left: 0.1rem;
  }
  .organised h2 {
    margin-left: 3.5rem;
    font-size: 0.6rem;
    font-weight: 500;
  }
  .Event {
    display: flex;
    flex-direction: column;
  }
  .session {
    width: 100%;
    height: 60vh;
    padding-left: 2rem;
    margin-top: 0.5rem;
    border-right: none;
    margin-bottom: 2rem;
  }
  .speaker h2 {
    width: 100%;
    padding-top: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
  }
  .speaker h1 {
    padding-top: 1rem;
    max-width: 1rem;
    font-size: 1rem;
  }
  .speakerPhoto img {
    margin-top: 4rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    margin-left: 0.1rem;
    height: 5rem;
    width: 7rem;
  }
  .slides p {
    font-size: 0.8rem;
    padding-right: 0rem;
    margin-right: 4rem;
  }
  .clock {
    height: 7rem;
    margin-left: 0rem;
    text-align: center;
    width: 19rem;
  }
  .registration {
    height: 30vh;
    margin-left: -2rem;
  }
  .registration h2 {
    font-weight: 600;
    font-size: 2rem;
    margin-top: 0rem;
    text-align: center;
  }
  .registration button {
    background-color: rgb(96, 96, 228);
    width: 100%;
    margin-top: 0.7rem;
    height: 2.5rem;
  }
  #timers {
    padding: 1rem 0.6rem;
    font-size: 1rem;
    border-radius: 0.6rem;
    width: 80%;
  }
  footer {
    justify-content: space-around;
  }
  .margin-left {
    margin-left: 0.2rem;
  }
  .margin-right {
    margin-right: 1rem;
  }
  .right_footer p {
    font-size: 0.6rem;
    margin-right: 8px;
  }
  .right_footer span {
    font-size: 0.6rem;
    margin-right: 8px;
  }
  .right_footer a {
    font-size: 0.7rem;
    margin-right: 8px;
    margin-left: 7px;
  }
  .copyright p {
    font-size: 0.6rem;
  }
  .copyright {
    padding: 5px;
  }
  .right_footer {
    padding: 5px;
  }
}
.nav-active {
  transform: translateX(0%);
  display: flex;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-6px, -6px);
}
